<div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:</b> Where the sending system supports a terminology code:

<ol>
<li>The condition.code element MUST be populated with:
<ul>
<li>the terminology system (e.g. SNOMED-CT)
<li>code
<li>display value
</ul>
<li>the condition.code.text field MUST be populated with the display value from the condition.code.display element e.g. ‘Asthma (disorder)’
<li>the condition.code.text field MAY contain free text to capture more detail associated with the condition.code e.g. ‘Patient uses blue inhaler to relieve symptoms’
</ol>

</div>

