<div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:</b> This site is under development by NHS Digital on behalf of INTEROPen and is intended to provide all the technical resources you need to successfully develop the Care Connect APIs. </div>

<div class="alert alert-danger" role="alert">
<i class="fa fa-exclamation-circle"></i> <b>Warning:</b> This site is information only, intended for those engaged with NHS Digital/INTEROPen on the development of the Care Connect APIs. You are advised not to develop against these specifications until a formal announcement.</div>